{% extends 'nvigate.html' %}
{% load static %}
{% block body %}
<div style="background-color: green; width:100%; height:80px;">
    <h4 class="text-white container pt-3 text-center">About Us</h4>
</div>
<div class="container-fluid m-0 p-0">
    <img class="m-0  " src="{% static 'images/about1.jpg' %}" alt="" style="width:100%">
    <h4>ABOUT US</h4>
    <hr>
    <p>
        Hello Friends...<br>
        This is Simple Study Notes Sharing Site Developed by Arun chauhan and 
        Abhishek chauhan using Python Django ,HTMl ,CSS ,and Bootstrap and sqlite.
    </p>
</div>
<br>
{% endblock body %}