{% extends "nvigate.html" %} 
 {% load static %}
 {% block body %}
 <style>
.image{
 width: 100%;
 height:470px;
 background: url("{% static 'images/notes2.avif' %}");
  background-size: cover;
 background-position: center;
}
 </style>
 <div class="image">
 <div class="transparentbox">
    <p>Study Notes Sharing Sites</p>
 </div>
 </div>
 <h4 class="text-center text-danger m-2">Just 4 step follow</h4>
 <div class="container">
    <div class="row text-md-center">
        <div class="col-sm-3 p-2">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-user-circle mt-3" style="font-size: 30px; "></i></p>
                <p class="halfcirclebutton pt-2">create Account</p>
            </div>
        </div>
         <div class="col-sm-3 p-2">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-sign-in-alt mt-3" style="font-size: 30px; "></i></p>
                <p class="halfcirclebutton pt-2">Login</p>
            </div>
        </div>
         <div class="col-sm-3 p-2">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-upload mt-3" style="font-size: 30px; "></i></p>
                <p class="halfcirclebutton pt-2">Upload Notes</p>
            </div>
        </div>
         <div class="col-sm-3  p-2">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-download mt-3" style="font-size: 30px; "></i></p>
                <p class="halfcirclebutton pt-2">Download Notes</p>
            </div>
        </div>
        
    </div>
 </div>
 <br>
 <br>
 {% endblock body %}